body {
  font-family: sans-serif;
  max-width: 400px;
  margin: 0 auto;
}


.select {
  position: absolute;
  text-align: center;
  background-color: #fff;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 150px;
}


.select button {
  padding: 20px;
}


/* Header */
h1 {
  text-align: center;
}


/* Feedback */
.feedback {
  height: 20px;
  width: 400px;
}

.moves {
  float: left;
}

.stars {
  float: right;
}

.stars img {
  height: 15px;
  width: 15px;
}


/* Board */
.board {
  background-color: grey;
  border-radius: 8px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  box-shadow: 5px 5px 10px grey;
}

.row {
  display: flex;
}

.card-4 {
  border-radius: 8px;
  margin: 5px;
  padding: 93px;
  transition: 0.8s;
}

.card-16 {
  border-radius: 8px;
  margin: 3px;  /* 5px on 2x2 */
  padding: 45px;  /* 93px on 2x2 */
  transition: 0.8s;
}


/* Success Modal */
.success {
  visibility: hidden;
  position: absolute;
  text-align: center;
  background-color: #fff;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 150px;
}

h3 {
  margin: 0;
}

.rating {
  margin: 16px 0 16px;
}

.rating img {
  height: 50px;
  width: 50px;
}

.rating div {
  display: inline-flex;
}

.empty {
  position: absolute;
}

.solid-hidden {
  opacity: 0;
}

.solid-visible {
  transition: 0.8s;
}

.reset {
  padding: 20px;
  font-weight: bold;
}
